<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplesoftware.cotacao_dolar_e_euro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cotacao_Dolar_e_Euro"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".conversor.ConversorEuro"></activity>
        <activity
            android:name=".conversor.ConversorDolarTurismo"
            android:screenOrientation="portrait"
            android:theme="@style/Conversor" />
        <activity
            android:name=".conversor.Conversor"
            android:screenOrientation="portrait"
            android:theme="@style/Conversor" />
        <activity android:name=".activitys.BitCoinActivity" />
        <activity android:name=".activitys.DolarTurismoActivity" />
        <activity android:name=".activitys.EuroActivity" />
        <activity android:name=".activitys.DolarActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9823376642365552~6439747620" />

        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>